/* line 8, stylesheets/custom.sass */
ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/*File:			custom.css
 *Description:	Custom styles for Thesis
 *
 *BASIC USAGE:
 *
 *If you have enabled the custom stylesheet in the Thesis options panel, the <body> tag
 *will be appended with the "custom" class, like so: <body class="custom">. You can use
 *the "custom" class to override *any* CSS declarations contained in the style.css file.
 *
 *For example, if you wish to change the default link color to green, you would add the
 *following declarations to this file:
 *
 *	.custom a, .custom a:visited { color: #090; }	<--- This makes links green
 *	.custom a:hover { color: #00f; }	<--- This makes links blue when you mouse over them
 *
 *WHY THIS WORKS:
 *
 *By using the "custom" class, you are creating more specific CSS declarations for HTML
 *elements. CSS styling is applied through rules of specificity, and because declarations
 *prepended with .custom are more specific, they get applied when the page is rendered!
 *
 *More information about styling your Thesis installation using this file can be found
 *in the User's Guide:
 *	http://diythemes.com/thesis/rtfm/customizing-thesis-with-customcss/ */
/* ========== */
/* Global nav */
/* ---------- */
/* line 88, stylesheets/custom.sass */
.menu {
  border-color: #533a26;
}
/* line 90, stylesheets/custom.sass */
.menu a, .menu li ul {
  border-color: #533a26;
}
/* line 92, stylesheets/custom.sass */
.menu a, .menu .current ul a, .menu .current-cat ul a {
  background-color: #fae1bd;
  color: #302216;
}
/* line 73, stylesheets/custom.sass */
.menu a:hover, .menu .current ul a:hover, .menu .current-cat ul a:hover {
  background-color: #F8D8AC;
}
/* line 94, stylesheets/custom.sass */
.menu .current a, .menu .current-cat a, .menu .current-menu-item a {
  border-bottom-color: #533a26;
}
/* line 96, stylesheets/custom.sass */
.menu a {
  line-height: 14px;
  padding: 7px 9px 4px;
}
/* line 98, stylesheets/custom.sass */
.menu ul.submenu a, .menu .current ul.submenu ul a, .menu .current-cat ul.submenu ul a {
  background-color: #fcecd5;
}
/* line 78, stylesheets/custom.sass */
.menu ul.submenu a:hover, .menu .current ul.submenu ul a:hover, .menu .current-cat ul.submenu ul a:hover {
  background-color: #fad7a3;
}
/* line 100, stylesheets/custom.sass */
.menu .current-parent > a, .menu .menu .current-cat-parent > a, .menu .menu .current-menu-ancestor > a {
  background-color: #fad7a3;
  border-bottom-color: #327dfa;
}

/* ========== */
/* Custom box */
/* ---------- */
/* line 112, stylesheets/custom.sass */
.post_box h1 {
  color: #1d5336;
}

/* line 115, stylesheets/custom.sass */
.headline_area h2 a {
  color: #1d5336;
}
/* line 117, stylesheets/custom.sass */
.headline_area h2 a:hover {
  text-decoration: underline;
}

/* =========== */
/* Google Docs */
/* =========== */
/* line 125, stylesheets/custom.sass */
table.gdocs a {
  text-decoration: none;
}
/* line 127, stylesheets/custom.sass */
table.gdocs a:hover {
  text-decoration: underline;
}
/* line 129, stylesheets/custom.sass */
table.gdocs th {
  text-align: left;
  text-decoration: underline;
}
/* line 132, stylesheets/custom.sass */
table.gdocs td.col_0 {
  width: 240px;
  padding-right: 20px;
  /*  font-weight: bold; */
}

/* =========== */
/* ----------- */
/* =========== */
/* ===== */
/* Basic */
/* ===== */
/* line 145, stylesheets/custom.sass */
.c_left {
  clear: left;
}

/* line 148, stylesheets/custom.sass */
.f_left {
  float: left;
}

/* =========== */
/* ----------- */
/* =========== */
/* ======= */
/* Plugins */
/* ======= */
/* line 159, stylesheets/custom.sass */
.custom .sm_button {
  padding-top: 10px;
}

/* =========== */
/* ----------- */
/* =========== */
/* ==== */
/* Misc */
/* ==== */
/* line 171, stylesheets/custom.sass */
#email_subscribe_form p {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 174, stylesheets/custom.sass */
#email_subscribe_form input {
  background-color: #dddddd;
}
/* line 176, stylesheets/custom.sass */
#email_subscribe_form input:hover {
  background-color: #eeeeee;
}
/* line 178, stylesheets/custom.sass */
#email_subscribe_form input:active {
  background-color: #cccccc;
}

/* line 182, stylesheets/custom.sass */
.update label {
  font-weight: bold;
}
/* line 184, stylesheets/custom.sass */
.update .signature {
  color: #666666;
}

/* =========== */
/* ----------- */
/* =========== */
/* ============== */
/* Specific Pages */
/* ============== */
/* line 196, stylesheets/custom.sass */
body.akihabara-tutorial-part-3-basic-mapping.custom .headline_area .headline_meta {
  float: none;
}
/* line 198, stylesheets/custom.sass */
body.akihabara-tutorial-part-3-basic-mapping.custom .headline_area h1 {
  display: inline-block;
  clear: left;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 10px;
}

/* line 205, stylesheets/custom.sass */
body.game_jams .whats_a_jam {
  clear: both;
  border: 1px solid #cccccc;
  padding: 10px;
  margin: 20px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  max-width: 700px;
  background-color: #f5e9bf;
  background-image: -webkit-gradient(linear, 0% 0%, 0% grad-opposite-position(0%), color-stop(0%, #f5daa2), color-stop(100%, #faecd0));
  background-image: -moz-linear-gradient(top, #f5daa2 0%, #faecd0 100%);
}
/* line 214, stylesheets/custom.sass */
body.game_jams h3 {
  margin: 0px 0px 10px;
  text-align: center;
}
/* line 218, stylesheets/custom.sass */
body.game_jams p {
  margin: 5px 0px;
}
/* line 221, stylesheets/custom.sass */
body.game_jams .jam_game_intro {
  clear: both;
  overflow: hidden;
  display: inline-block;
}
/* line 8, stylesheets/compass/utilities/general/_hacks.scss */
body.game_jams .jam_game_intro {
  display: block;
}
/* line 226, stylesheets/custom.sass */
body.game_jams .jam_games_overview h3 {
  border-bottom: 1px solid #999999;
  display: inline-block;
}
/* line 230, stylesheets/custom.sass */
body.game_jams .jam_games_overview p {
  padding: 5px 0px;
}
/* line 232, stylesheets/custom.sass */
body.game_jams .jam_games_overview .team_links, body.game_jams .jam_games_overview .download_links {
  list-style: none;
  padding-left: 0px;
}
/* line 236, stylesheets/custom.sass */
body.game_jams .jam_games_overview a {
  text-decoration: none;
  color: #2c42c4;
}
/* line 239, stylesheets/custom.sass */
body.game_jams .jam_games_overview a:hover {
  text-decoration: underline;
}
/* line 241, stylesheets/custom.sass */
body.game_jams .jam_games_overview .team_links .roles {
  color: #666666;
}
/* line 243, stylesheets/custom.sass */
body.game_jams .jam_games_overview .download_links li {
  background: transparent url(https://bostongamejams.com/images/icon_arrow_down.jpg) no-repeat left 3px;
  padding-left: 20px;
}
/* line 246, stylesheets/custom.sass */
body.game_jams .jam_games_overview .team_links .roles:before {
  content: "-- ";
}
/* line 250, stylesheets/custom.sass */
body.game_jams .jam_games_overview h4.game, body.game_jams .jam_games_overview h4.team {
  margin: 5px 0px;
}
/* line 252, stylesheets/custom.sass */
body.game_jams .jam_games_overview h4.game {
  background: transparent url(https://bostongamejams.com/images/icon_game_b_16x.jpg) no-repeat left 3px;
  padding-left: 20px;
}
/* line 255, stylesheets/custom.sass */
body.game_jams .jam_games_overview h4.team {
  background: transparent url(https://bostongamejams.com/images/icon_team_16x.jpg) no-repeat left 3px;
  padding-left: 20px;
}
/* line 258, stylesheets/custom.sass */
body.game_jams .jam_games_overview h4.tools {
  background: transparent url(https://bostongamejams.com/images/icon_tools_16x.jpg) no-repeat left 3px;
  padding-left: 20px;
}
/* line 262, stylesheets/custom.sass */
body.game_jams .jam_games_overview .game_listing {
  overflow: hidden;
  display: inline-block;
  margin-top: 20px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: #dddddd 0px 0px 15px;
  -webkit-box-shadow: #dddddd 0px 0px 15px;
  -o-box-shadow: #dddddd 0px 0px 15px;
  box-shadow: #dddddd 0px 0px 15px;
  margin-top: 20px;
  padding: 10px;
  position: relative;
}
/* line 8, stylesheets/compass/utilities/general/_hacks.scss */
body.game_jams .jam_games_overview .game_listing {
  display: block;
}
/* line 270, stylesheets/custom.sass */
body.game_jams .jam_games_overview .game_listing .screenie {
  position: absolute;
  right: 10px;
  top: 10px;
}
/* line 274, stylesheets/custom.sass */
body.game_jams .jam_games_overview .game_listing .screenie img {
  -moz-box-shadow: #b8aaa3 0px 0px 5px;
  -webkit-box-shadow: #b8aaa3 0px 0px 5px;
  -o-box-shadow: #b8aaa3 0px 0px 5px;
  box-shadow: #b8aaa3 0px 0px 5px;
}
/* line 278, stylesheets/custom.sass */
body.game_jams .jam_games_overview .quick_links {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
}
/* line 8, stylesheets/compass/utilities/general/_hacks.scss */
body.game_jams .jam_games_overview .quick_links {
  display: block;
}
/* line 50, stylesheets/compass/utilities/lists/_horizontal-list.scss */
body.game_jams .jam_games_overview .quick_links li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 41, stylesheets/compass/utilities/lists/_horizontal-list.scss */
body.game_jams .jam_games_overview .quick_links li:first-child, body.game_jams .jam_games_overview .quick_links li.first {
  padding-left: 0px;
}
/* line 43, stylesheets/compass/utilities/lists/_horizontal-list.scss */
body.game_jams .jam_games_overview .quick_links li:last-child, body.game_jams .jam_games_overview .quick_links li.last {
  padding-right: 0px;
}
/* line 280, stylesheets/custom.sass */
body.game_jams .jam_games_overview .quick_links li {
  border-right: 1px solid #999999;
  padding-right: 8px;
  margin-right: 3px;
}
/* line 284, stylesheets/custom.sass */
body.game_jams .jam_games_overview .quick_links li:last-child {
  border-right: none;
}
/* line 286, stylesheets/custom.sass */
body.game_jams .jam_games_overview .quick_links li a {
  color: #222222;
}
/* line 289, stylesheets/custom.sass */
body.game_jams .photo_splash {
  position: relative;
}
/* line 291, stylesheets/custom.sass */
body.game_jams .photo_splash ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  display: inline-block;
}
/* line 8, stylesheets/compass/utilities/general/_hacks.scss */
body.game_jams .photo_splash ul {
  display: block;
}
/* line 50, stylesheets/compass/utilities/lists/_horizontal-list.scss */
body.game_jams .photo_splash ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 41, stylesheets/compass/utilities/lists/_horizontal-list.scss */
body.game_jams .photo_splash ul li:first-child, body.game_jams .photo_splash ul li.first {
  padding-left: 0px;
}
/* line 43, stylesheets/compass/utilities/lists/_horizontal-list.scss */
body.game_jams .photo_splash ul li:last-child, body.game_jams .photo_splash ul li.last {
  padding-right: 0px;
}

/* line 303, stylesheets/custom.sass */
body.about_page p.intro img {
  border: 1px solid #999999;
  -moz-box-shadow: #988d86 1px 1px 5px;
  -webkit-box-shadow: #988d86 1px 1px 5px;
  -o-box-shadow: #988d86 1px 1px 5px;
  box-shadow: #988d86 1px 1px 5px;
}

/* =========== */
/* ----------- */
/* =========== */
/* line 311, stylesheets/custom.sass */
.mailing_list #mailing_list_subscribe_box {
  background-color: white;
  padding: 5px;
}
/* line 314, stylesheets/custom.sass */
.mailing_list #mailing_list_subscribe_box h3 {
  margin: 5px 0px 10px;
}
/* line 316, stylesheets/custom.sass */
.mailing_list #mailing_list_subscribe_box .subscibe_button {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  font-family: Arial;
  display: inline-block;
  color: white;
  text-decoration: none;
  line-height: 20px;
  padding: 0 6.667px;
  height: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #3977ab;
  background-color: #5291c5;
  background-image: -webkit-gradient(linear, 0% 0%, 0% grad-opposite-position(0%), color-stop(0%, #c5daeb), color-stop(4%, #8bb5d8), color-stop(100%, #5291c5));
  background-image: -moz-linear-gradient(top, #c5daeb 0%, #8bb5d8 4%, #5291c5 100%);
  text-shadow: #3977ab 0 -1px 0;
  cursor: pointer;
  font-size: 14px;
  width: 100px;
}
/* line 88, stylesheets/partials/_buttons.sass */
.mailing_list #mailing_list_subscribe_box .subscibe_button:hover {
  text-decoration: none;
}
/* line 90, stylesheets/partials/_buttons.sass */
.mailing_list #mailing_list_subscribe_box .subscibe_button.disabled, .mailing_list #mailing_list_subscribe_box .subscibe_button.disabled:active, .mailing_list #mailing_list_subscribe_box .subscibe_button.disabled:hover, .mailing_list #mailing_list_subscribe_box .subscibe_button.disabled:visited {
  background-image: -webkit-gradient(linear, 0% 0%, 0% grad-opposite-position(0%), color-stop(0%, #d8d8d8), color-stop(4%, #d8d8d8), color-stop(100%, #d8d8d8));
  background-image: -moz-linear-gradient(top, #d8d8d8 0%, #d8d8d8 4%, #d8d8d8 100%);
  color: #fdfdfd;
  border-color: #bfbfbf;
  text-shadow: none;
  cursor: default;
}
/* line 99, stylesheets/partials/_buttons.sass */
.mailing_list #mailing_list_subscribe_box .subscibe_button:active {
  background-image: -webkit-gradient(linear, 0% 0%, 0% grad-opposite-position(0%), color-stop(0%, #20425e), color-stop(4%, #336a98), color-stop(100%, #3d7fb6));
  background-image: -moz-linear-gradient(top, #20425e 0%, #336a98 4%, #3d7fb6 100%);
}
/* line 101, stylesheets/partials/_buttons.sass */
.mailing_list #mailing_list_subscribe_box .subscibe_button:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% grad-opposite-position(0%), color-stop(0%, #d8e6f2), color-stop(4%, #9ec2df), color-stop(100%, #659dcb));
  background-image: -moz-linear-gradient(top, #d8e6f2 0%, #9ec2df 4%, #659dcb 100%);
}
/* line 320, stylesheets/custom.sass */
.mailing_list #mailing_list_subscribe_box .email {
  width: 200px;
  margin-left: 5px;
  margin-right: 10px;
}

/* line 326, stylesheets/custom.sass */
.clearfix {
  overflow: hidden;
  display: inline-block;
}
/* line 8, stylesheets/compass/utilities/general/_hacks.scss */
.clearfix {
  display: block;
}

/* ====== */
/* Thesis */
/* ====== */
/* line 336, stylesheets/custom.sass */
.custom li.widget {
  margin-bottom: 15px;
}
/* line 338, stylesheets/custom.sass */
.custom #page {
  position: relative;
}
/* line 340, stylesheets/custom.sass */
.custom .social {
  color: #111111;
  float: right;
  position: absolute;
  right: 23px;
  top: 15px;
}

.custom .social a {
  margin: 0px 1px;
}

.custom #page .menu {
  display: inline-block;
  margin-bottom: -2px;
}

/* line 346, stylesheets/custom.sass */
.custom .headline_area {
  margin-bottom: 25px;
}
/* line 348, stylesheets/custom.sass */
.custom .headline_area .headline_meta {
  float: left;
}
/* line 351, stylesheets/custom.sass */
.custom .format_text .fb_share_button {
  position: absolute;
  top: -20px;
  right: 0px;
  margin-left: 0px;
  margin-right: 10px;
  line-height: 18px;
}
/* line 359, stylesheets/custom.sass */
.custom .format_text .to_comments span {
  color: #333333;
}
/* line 361, stylesheets/custom.sass */
.custom .format_text {
  position: relative;
}
/* line 363, stylesheets/custom.sass */
.custom .custom_box {
  background-color: #c8e9ee;
}
/* line 109, stylesheets/custom.sass */
.custom .custom_box strong {
  color: #533a26;
}
/* line 365, stylesheets/custom.sass */
.custom #header {
  border-top: 1px solid #533a26;
}

/* line 368, stylesheets/custom.sass */
.intro, img.first_image {
  float: left;
}

/* line 372, stylesheets/custom.sass */
.jam_wrapup div.authors {
  float: left;
  width: 400px;
}
/* line 375, stylesheets/custom.sass */
.jam_wrapup h4 {
  padding-top: 5px;
}
/* line 376, stylesheets/custom.sass */
.jam_wrapup h4.about {
  clear: left;
}

/* line 380, stylesheets/custom.sass */
ol.reset, ul.reset {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
}

/* line 386, stylesheets/custom.sass */
.images {
  display: inline-block;
}



/* ====== */
/* Footer */
/* ====== */

.custom #footer-widget-block { text-align:left; overflow:hidden; }
.custom .footer-widgets { width:33%; float:left; }
.custom #footer .footer-widgets a {
  border: none;
}
.custom #footer .footer-widgets a:hover {
  color: blue;
  text-decoration: none;
}
.custom .my-footer-one {}
.custom .my-footer-two {}
.custom .my-footer-three {}
